/* GLOBAL AND MOBILE STYLES FIRST */ 


body {
	background-color: red;
	font-size: 19px;
}


nav {
	display:none;
}


nav a {
	 width: 100%;
	 display:block;
	} 

	
#mainMenu {
	display:block;
	font-family: "Arial", sans-serif;
	line-height: 80px

}


.displayMenu {
	display: block;
}


h1 {
    text-align: center;
}


h2 {
    text-align: center;
}


#phonelogo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 200px;
	}

	
 /* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {  
 nav a {
	 width: 100px;
	 display: inline-block; 
	 

	 } 

	 
	main {
		width: 20%;
		margin: 0 auto;
	}
	
	
	body{
		background-color:green;
	}
	
	
	h1 {
    text-align: center;
	}


	h2 {
    text-align: center;
	}


#phonelogo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 200px;
	}
}
	
	
 /* /* SECOND BREAKPOINT (LARGE SIZE) */ 
 @media screen and (min-width: 1000px) { 
 nav {
	  display: block;
 }
 
 
 nav a {
	 width: 100px;
	 line-height: 3em;
	 }

 
 #mainMenu {
	 display: none;
	 line-height: 80px
	}
	
	
 body {
	 background-color: yellow;
	}
	
	
#container {
	
	position: absolute;
    left: 50%;
    margin-left: -200px;
}


h1 {
    text-align: center;
}


h2 {
    text-align: center;
}


#phonelogo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 200px;
	}

}

