/* GLOBAL AND MOBILE STYLES FIRST */ 


body {
	background-color: red;
	font-size: 19px;
}
nav {
	display:none;
}

nav a {
	padding: 1em;
	display: block;
}

#mainMenu {
	display:block;
}

.displayMenu {
	display: block;
}

#phonelogo img {
	max-width: 30%;
	text-align: left;
}



 /* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {  
 nav a {
	 width: 5%;
	 display: inline-block;
	 border: 3px  #780000  ;
padding: 5px 52px 5px 2px;
background-color: #8F002E;
color: #FFFFFF ;
font-family: "Arial", sans-serif;
text-decoration: none;
	} 

	main {
		width: 20%;
		margin: 0 auto;
	}
	
	body{
		background-color:green;
	}
}	

 /* SECOND BREAKPOINT (LARGE SIZE) */ 
 @media screen and (min-width: 1000px) { 
 nav {
	  display: block;
 }
 
 nav a {
	 line-height: 3em;
	 width: inherit;
 }

 #mainMenu {
	 display: none;
	}
 body {
	 background-color: yellow;
	}
	
#container {
	
position: absolute;
    left: 50%;
    margin-left: -100px;
}
}