
#PhoneLogo img {
	max-width: 25%;
	text-align: left;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
	nav a {
		width: 10%;
		display: inline-block;
	
	}
	
	main {
		width: 20%;
		margin: 0 auto;
	}
	
	body{
		background-color:red;
	}
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
 
 nav {
	 display:block;
	}
	nav a {
		line-height: 3em;
		width: inherit;
	}
	
	#MainMenu {
		display: none;
	}
	body{
		background-color: green;
	}
}
/* END SECOND BREAKPOINT */